# Default ignored files
/../../Password Cracker /.idea/shelf/
/../../Password Cracker /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Password Cracker /.idea/httpRequests/
# Datasource local storage ignored files
/../../Password Cracker /.idea/dataSources/
/../../Password Cracker /.idea/dataSources.local.xml
